.section {
  margin-top: 1rem;
}

.title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.paragraph {
  color: #fff;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.link {
  color: #3b82f6;
  font-size: 0.875rem;
  text-decoration: none;
  font-weight: 400;
  overflow-wrap: break-all;
  word-break: break-all;
}

.link:hover {
  text-decoration: underline;
}

.linksContainer {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
