.section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.correct {
  color: #22c55e;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.wrong {
  color: #ef4444;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.correctAnswer {
  background-image: linear-gradient(to right, #8b5cf6, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 600;
}
