.header {
  padding: 1rem;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.title {
  --bg-size: 400%;
  --color-one: #8b5cf6;
  --color-two: #3b82f6;

  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;

  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  transition: scale 0.2s ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .title {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
